body {
    font-family: 'Quicksand', sans-serif;
}


/* Welcome */
.welcome-content {
  padding-top: 112px;
}

.navbar {
    font-size: 3rem;
    font-family: 'Libre Barcode 128 Text', cursive;
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  position: relative;
  display: inline-block
}
    
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active::before {
  color: rgba(0, 0, 0, 0.9);
  content: '';
  border-bottom: 0.375rem solid rgba(255, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  right: 2%;
  top: 35%;
}
  
.navbar-brand{
  height: 6rem;
    font-size: 4rem;
}

.welcome-content {
  margin-left: 10px;
  margin-right: 10px;
}

#comms {
  text-decoration: line-through rgba(255, 0, 0, 0.5);
  font-family: 'Quicksand', sans-serif;
}

.heading {
  margin-bottom: 0;
}

.sub-heading {
  text-transform: uppercase;
  color: slategray;
}


.welcome-msg {
  padding: 2rem 0;
}

/* Sign Up */
.join {
  color: white;
  background-image: url(port.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 8rem;
}

.sign-up-msg {
  text-align: center;
  text-shadow: 0.1rem 0.2rem 0.8rem gray;
  text-transform: uppercase;
}

.buttons {
  padding : 8rem 4rem;
  text-align: left;
  padding-left: 8rem;
  font-weight: 700;
}

.sign-up-info {
  text-shadow: 0.1rem 0.1rem 0.5rem gray;
}
/* End of Sign up */
/* End of Welcome */

/* Start of Vision */
.jumbotron {
  padding-top: 2rem;
}

.three-column {
  padding-top: 2rem;
}
.vision-icon {
  padding: 1rem;
  font-size: 3.5rem;
}

.fa-dollar-sign {
  color: #85bb65;
}

.fa-clock {
  color: blue;
}

.fa-fighter-jet {
  color: lightskyblue;
}
/* End of Vision */

/* Team */

.team-card {
  width:350px;
  height: 100%;
}

.top-team-cards, .bottom-team-cards {
  padding-top: 2rem;
}

/* End of Team */

/* Start of About */

.about-body {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #e9ecef;
}

/* End of About */

/* Start of Footer */


#footer {
  padding: 2rem;
  background: #333;
  color: white;
}

.fab {
  font-size: 3rem;
  margin: 0.5rem;
  color: white;
}
.fab:hover {

  color: grey;
}

hr.socket {
  width: 100%;
  border-top: 0.2rem solid #666b71;
  margin-top: 3rem;
}

/* End of Footer */

.offset {
  margin-top: 2rem;
  margin-bottom: 0;
}

/* Modal */
input {
  margin: 0 auto;
  display: block;
  width: 80%;
  padding-left: 0.25rem;
}




/* End of Modal */