<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Balikbayan Comms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

    <!--Custom CSS-->
    <link rel="stylesheet" href="css/styles.css"></link>

    <!--OUR FAVICON BOI-->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

    <!--jQuery-->
    <script
            src="https://code.jquery.com/jquery-3.4.0.js"
            integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
            crossorigin="anonymous"></script>

    <!--Datatables-->
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css"/>

    <script type="text/javascript" src="/DataTables/datatables.min.js"></script>

</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-light bg-light navbar-expand-lg sticky-top">

    <a class="navbar-brand" href="/"><img class="company-logo" src="images/comms_logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse navbar-toggler-right" id="navbarResponsive">
        <ul class="navbar-nav abs-center-x my-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/overview">overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#login" data-toggle="modal" data-target="#loginModal">login</a>
            </li>
        </ul>
    </div>
</nav>

