<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="shortcut icon" href="images/icon.png"/>
        <title>Comms</title>

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- Sidebar CSS -->
        <link rel="stylesheet" type="text/css" href="css/sidebar.css">
        <!--Custom CSS-->
        <link rel="stylesheet" href="css/styles.css"></link>

        <!--jQuery-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.js"></script>

        <!--Datatables-->
        <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css"/>
        <script type="text/javascript" src="/DataTables/datatables.min.js"></script>

        <!--MDL-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </head>
<body>
    <div class="s-layout">
        <!-- Sidebar -->
        <div class="s-layout__sidebar">
          <a class="s-sidebar__trigger" href="#0">
             <i class="fa fa-bars" style="color: #f4f5f6;"></i>
          </a>

          <nav class="s-sidebar__nav">
             <ul>
                <li><a class="s-sidebar__nav-link" href="/profile">
                    <h4 style="color: #000000; margin: 5% 0 10% 20%;"><img src="images/icon.png" height="30px" style="margin-top: -2%"><strong> Comms</strong></a></h4>
                </li>
                <li>
                   <a class="s-sidebar__nav-link" href="/upload">
                     <em><strong>Recent Manifest</strong></em>
                   </a>
                </li>
                <li><a class="s-sidebar__nav-link" href="/overview">
                     <em><strong>Countries</strong></em></a>
                </li>
                <li><a class="s-sidebar__nav-link" href="/tracking">
                      <em><strong>Tracking</strong></em></a>
                </li>
                <li><a class="s-sidebar__nav-link" href="/logout">
                      <em><strong>Logout</strong></em></a>
                </li>
             </ul>
          </nav>
        </div>

        <!-- Content -->
        <main class="s-layout__content">
            <div class="container">