<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="shortcut icon" href="/images/icon.png"/>
        <title>Comms</title>

        <%- include("style-declarations") %>
    </head>
<body>
    <div class="s-layout">
        <%- include("sidebar")%>

        <!-- Content -->
        <main class="s-layout__content">
            <div class="container">