<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="shortcut icon" href="/images/icon.png"/>
    <title>Comms</title>
    <meta name="Description" content="Balikbayan Comms is a software as a service (SaaS) looking to
        unify information transfer between freight agencies.">

    <!--MDL-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <%- include("style-declarations") %>

    <!--Datatables-->
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css">
    <script type="text/javascript" src="/DataTables/datatables.min.js"></script>
</head>
<body>
<div class="s-layout">
    <%- include("sidebar", {user: user})%>

    <!-- Content -->
    <main class="s-layout__content">
        <div class="container">