<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Balikbayan Comms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"></link>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-light bg-light navbar-expand-md">
  <!-- Navbar content -->
  <a class="navbar-brand" href="/">COMMS</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse navbar-toggler-right" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/overview">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Staff</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#login" data-toggle="modal" data-target="#loginModal">Login</a>
    </li>
  </ul>
</div>
</nav>

