<%- include("partials/company-header") -%>

<div class="container-fluid">
    <h1 class="text-center">Welcome to Balikbayan Comms</h1>

    <ul class="list-group text-center">
        <a href="/overview">Philippines Overview</a>
        <a href="/foreign">Foreign Company Overview</a>
        <a href="/tracking">Track your Package</a>
        <a href="/upload">Upload your existing Excel sheets</a>
    </ul>
</div>

<%- include("partials/footer") -%>