<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="shortcut icon" href="images/icon.png"/>
    <title>Comms</title>

     <!-- Roboto Font -->
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body id="background">
    <div >
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 4%;">
        <form class="text-center border border-light p-5" style="border-radius: 5px; background-color: #FFFFFF">

            <p class="h4 mb-4" style="margin-right: 20px"><img src="images/icon.png" height="25px" style="margin: 0 5px 4px">Comms</p>

            <input type="text" class="form-control mb-3" placeholder="Enter your tracking number" style="width: 250px; font-size: 12px;">

            <a href="/tracking" class="btn btn-block my-3 btn-sm" style="background-color: #C0C0C0; color: #FFFFFF">Track parcel</a><br />
            <a href="/login" class="btn btn-block my-3 btn-sm" style="background-color: #D6E7D9; color: #000000">Log in</a>

        </form>
    </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
