<%- include("company-header") -%>

<div class="overview-container-1 container">
    <div class="row">
        <div class="col-4 image">
            <img src= "/images/flag-us.bmp">
        </div>

        <div class="col-8 main-name">
            United States of America
        </div>
    </div>

    <div class="row">
        <div class="col-12 sub-text">
            50000 Freight Forwarding Companies
        </div>
    </div>
</div>

<%- include("footer") -%>
