<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="shortcut icon" href="images/icon.png"/>
        <title>Your Profile</title>

        <!-- Roboto Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- Sidebar CSS -->
        <link rel="stylesheet" type="text/css" href="css/sidebar.css">
    </head>
<body>
    <div class="s-layout">
        <!-- Sidebar -->
        <div class="s-layout__sidebar">
          <a class="s-sidebar__trigger" href="#0">
             <i class="fa fa-bars" style="color: #f4f5f6;"></i>
          </a>

          <nav class="s-sidebar__nav">
             <ul>
                <li>
                    <h4 style="color: #000000; margin: 5% 0 10% 20%;"><img src="images/icon.png" height="30px" style="margin-top: -2%"><strong> Comms</strong></h4>
                </li>
                <li>
                   <a class="s-sidebar__nav-link" href="/upload">
                     <em><strong>Recent Manifest</strong></em>
                   </a>
                </li>
                <li><a class="s-sidebar__nav-link" href="/overview">
                     <em><strong>Countries</strong></em></a>
                </li>
                <li><a class="s-sidebar__nav-link" href="/tracking">
                      <em><strong>Tracking</strong></em></a>
                </li>
                <li><a class="s-sidebar__nav-link" href="/logout">
                      <em><strong>Logout</strong></em></a>
                </li>
             </ul>
          </nav>
        </div>

        <!-- Content -->
        <main class="s-layout__content">
            <div class="container">
                <h3><span class="fa fa-user"></span> Account Details: </h3>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: <%= user.local.password %>
                </p>
                <br />
                <br />
                <br />
                <a href="/overview">Philippines Overview</a><br />
                <a href="/foreign">Foreign Company Overview</a><br />
                <a href="/tracking">Track your Package</a><br />
                <a href="/upload">Upload your existing Excel sheets</a>

            </div>
        </main>
    </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
