<%- include("header") -%>

    <h1 >Track your Package!</h1>

    <p>For multiple tracking numbers, separate with comma or a new line</p>

    <form method="post" action="/tracking">
        <textarea
        type="text"
        name="trackingNumber"
        placeholder="Tracking Number(s)"
        rows="4" cols="50"></textarea><br>
    <button type="submit">Submit</button>
    </form>
    
<%- include("footer") -%>