<%- include("header") -%>
<form method="post" action="/" enctype='multipart/form-data'>
    <input type="file" name="theFile"><br><br>
    <button type="submit">Submit</button>
</form>

<%- include("footer") -%>