<%- include("header") -%>
<h1>File Upload</h1>

<form method="post" action="/" enctype='multipart/form-data'>
    <input type="file" name="theFile"><br><br>
    <button type="submit">Submit</button>
</form>

<%- include("footer") -%>