/***************** BODY PAGE *****************/
body {
    font-family: 'Roboto', sans-serif;
}

/***************** NAVBAR SECTION *****************/
.navbar {
    background: #ffffff;
    box-shadow: 0px 7px  17px rgba(0,0,0,0.07);
    font-family: 'Roboto', 'sans-serif';
    height: 5rem;
}

.navbar-brand img{
    height:5rem;
}

.navbar-brand, .nav-link {
    font-size: 1rem;
}

.active {
    font-weight: bold;
}

@media (min-width: 567px) {
    .abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

/***************** TRACKING   *****************/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/***************** CONTAINERS  *****************/
.card-img-top {
    width: 100%;
    height: 9vw;
    object-fit: cover;
}

.update-btn {

}

.container-1 {
    width:18rem;
}

.container-text {
  
  color: #000000;
}
.container-text:hover {
  color: #2039bc;
}

/***************** TRACKING *****************/
.tracking-submit {
    margin-top: 0.5rem;
}

.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    min-width: 16%;  /* Width of the Progressbar Line */
    width: auto;
    float: left;
    font-size: 11px; 
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #79889d; /* light blue */
}
.progressbar li:before { /* for the circle */
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 1px solid #79889d;/* light blue */
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after { /*for the line*/
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #79889d; /* light blue */
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #2039bc; /* blue */
}
.progressbar li.active:before { /* for the circle */
    border-color: #2039bc; /* blue */
    background-color: #2039bc; /* blue */
    color: white;
}
.progressbar li.active + li:after { /*for the line*/
    background-color: #79889d; /* grey */
}

.progressbar li.passive { 
   color: #C4C4C4; /* grey */
}
.progressbar li.passive:before { /* for the circle */
    border-color: #C4C4C4; /* grey */
    background-color: #C4C4C4; /* grey */
    color: white;
}
.progressbar li.passive + li:after { /*for the line*/
    background-color: #C4C4C4; /* grey */
}


.buttons-copy {
    margin-left: 10px;
}


@media (max-width:1281px) {
  .status-col {
    width: 90px;
  }
  .status-item-col {
    margin-left: 20px;
  }
  .progressbar {
  }

  .progressbar li {
    font-size: 12px;
    /*width: 180px;*/
    display: block;
    float: right;
  }

  /* changes progressbar to a list when screen gets too small */
  .progressbar li:before, 
  .progressbar li:after {
    display: none;
  }
}

@media (max-width:1366px) {
  .progressbar {
    margin-left: -70px;
  }
}
/***************** Home Page *****************/
#background {
  background: url('../images/Home.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/***************** TABLE ********************/
.main-content .dataTables_wrapper {
    margin-top: 2.5rem;
}

div.dt-buttons {
    margin-left: 0.5rem;
}

#comm-table_length {
    display: inline-block;
    padding: 0.3rem;
}

#comm-table {
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
}

#comm-table th {
    font-size: 14px;
    position: relative;
    margin: auto;
    vertical-align: middle;
}
