/***************** BODY PAGE *****************/
body {
    font-family: 'Roboto', sans-serif;
}

/***************** TRACKING   *****************/
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.delivery-files-list {
    list-style-type: none;
}

.document-links:hover { text-decoration: underline; }

.delivery-files-image {
    width: 300px;
    height: 200px;
    padding-bottom: 20px;
}

/***************** CONTAINERS  *****************/
.card-img-top {
    width: 100%;
    height: 9vw;
    object-fit: cover;
}

.update-btn {

}

.container-1 {
    max-width:18rem;
}

.container-text:hover {
  color: #2039bc;
}

.container-link {
    cursor:pointer;
}


/***************** TRACKING *****************/
.company_logo {
    margin-top: 10px;
}
.trackingNumber-field {
    margin: 0 0 25px 18px;
    width: 360px;
    height: 32px;
    font-size: 15px;
}

.surname-field {
    margin: 10px 0 25px 18px;
    width: 360px;
    height: 32px;
    font-size: 15px;
}

.track-btn {
    width: 100%;
    background-color: #2039bc; 
    color: #FFFFFF;
    height: 30px;
}

.tracking-instruction-text {
    color:grey; 
    width: 400px; 
    font-size: 12px; 
    margin: 0 0 0 20px;
}

.close { color: #cf5564; }
.close:hover {
  cursor: pointer;
}

.email-field, .password-field {
    width: 100%;
}

@media (max-width:641px), @media (min-width: 68em) {  

    #trackingform {
        width: 220px;
    }
    .track-btn, .login-btn, .tracking-instruction-text {
        width: 220px;
    }
}

.form-horizontal .row div {
    margin-left: 18px;
}
.form-horizontal input[name=trackingNumber] {
    width: 360px;
}

.tracking-error-message {
    margin-left: 15px;
    display: none;
    color: #cf5564; 
    width: 400px; 
    font-size: 12px
}
.tracking-submit {
    margin-top: 0.5rem;
}

.progressbar {
    counter-reset: step;
    padding-left: 0;
}
.progressbar li {
    list-style-type: none;
    font-size: 12px;
    display: block;
    float: left;
    padding: 5px 5px 0 0;
    text-transform: uppercase;
    color: #79889d; /* light blue */
}
.progressbar li:before { /* for the circle */
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 1px solid #79889d;/* light blue */
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    margin: 5px; /*for left and right*/
    margin-top: -6px;
    float: left;
}
.progressbar li:after { /*for the line*/
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #79889d; /* light blue */
    top: 15px;
    left: -50%;
    z-index: -1;
    float: left;
    margin: 5px; /*for left and right*/
    margin-top: -6px;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #2039bc; /* blue */
}
.progressbar li.active:before { /* for the circle */
    border-color: #2039bc; /* blue */
    background-color: #2039bc; /* blue */
    color: white;
}
.progressbar li.active + li:after { /*for the line*/
    background-color: #79889d; /* grey */
}

.progressbar li.passive { 
   color: #C4C4C4; /* grey */
}
.progressbar li.passive:before { /* for the circle */
    border-color: #C4C4C4; /* grey */
    background-color: #C4C4C4; /* grey */
    color: white;
}
.progressbar li.passive + li:after { /*for the line*/
    background-color: #C4C4C4; /* grey */
}


.buttons-copy {
    margin-left: 10px;
}
.status-col, .status-item-col {
    width: 200px;
}

@media (max-width:1281px) {
    .status-col {
        width: 200px;
    }
    .status-item-col {
        margin-left: 20px;
    }

    .progressbar li {
        font-size: 12px;
        display: block;
        float: left;
        padding: 5px 5px 0 0;
    }

    /* hides progressbar when screen gets small, only showing status */
    .progressbar li:before, 
    .progressbar li:after{
        /*display: none;*/
        float: left;
        margin: 5px; /*for left and right*/
        margin-top: -6px;
    }
    .progressbar li.active + li:after,
    .progressbar li.passive + li:after { /* hides the line */
        opacity: 0; 
    }
}

@media (max-width:1366px) {
  .progressbar {
    margin: -10px;
  }
}
/***************** Home Page *****************/
#background {
  background: url('../images/home_background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

/***************** TABLE ********************/
.main-content .dataTables_wrapper {
    margin-top: 2.5rem;
}

div.dt-buttons {
    margin-left: 0.5rem;
}

#comm-table_length {
    display: inline-block;
    padding: 0.3rem;
}

#comm-table {
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
}

#comm-table th {
    font-size: 14px;
    position: relative;
    margin: auto;
    vertical-align: middle;
}

/*Status Colors*/
.atDepartingPort {
  color: black;
}

.onTransit {
  background-color: pink;
}
.atDestinationPort {
  background-color: blue;
  color: white;
}

.atCustoms {
  background-color: red;
  color: white;
}
.forDispatch {
  background-color: orange;
}
.forDelivery {
  background-color: yellow;
}
.delivered {
  background-color: green;
  color: white;
}