/***************** BODY PAGE *****************/
body {
    font-family: 'Quicksand', sans-serif;
}

p {
    /*color: blue;*/
}

/***************** NAVBAR SECTION *****************/
.navbar {
    background-color: white;
}

.navbar-brand {
    text-decoration: line-through rgba(255, 0, 0, 0.5);
    font-size: 2.25rem;
}

.nav-item.active a{
  text-decoration: line-through rgba(255, 0, 0, 0.5);
}

.navbar-nav a {
    font-size: 2.25rem;
    font-family: 'Libre Barcode 128 Text', cursive;
}

/***************** SUBHEADER  *****************/
.dropdown .btn {
    padding: auto auto;
}

.dropdown-menu a {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.75rem;
}

/***************** CONTAINERS  *****************/
.overview-container-1 {
    border: 2px solid black;
    width: 350px;
    height: 150px;
    background-color: #D3D3D3;
    cursor: pointer;
}

/* COUNTRY CONTAINER */
.main-name,.sub-text {
    color: #282828;
}


