<a class='link' href= '<%-contentItem.link%>'>
    <div class="card container-1">
        <div class="card-body">
            <h5 class="card-title"><%=contentItem.name%></h5>
            <h6 class="card-subtitle mb-2 text-muted">Date: <%= contentItem.subtitle%></h6>
            <h6 class="card-subtitle mb-2 text-muted">Transactions: <%= contentItem.content%></h6>
        </div>
    </div>
</a>
