<div class="card" style="width:18rem;" onclick="location.href='tracking';">
    <img src="/images/flag-us.bmp" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">United States of America</h5>
        <h6 class="card-subtitle mb-2 text-muted">50000 Freight Forwarding Companies</h6>
        <a href="#" class="card-link">More Info</a>
    </div>
</div>