<%- include("../partials/header") -%>

<div class="card-columns">
    <% contentArray.forEach((item,index) => { %>
        <% const date = item.dateAdded %>
        <% item.subtitle = `${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()}`%>
        <% item.link = `/overview/id/${item._id}`%>
        <%- include('manifest-container', {contentItem: item}) %>
    <% }) %>
</div>

<%- include("../partials/footer") -%>