<%- include("../partials/header", {user: user}) -%>

<div class='row no-gutters d-flex align-content-start my-3'>
<% contentArray.forEach((item,index) => { %>
    <% item.name = item.countryName%>
    <% item.subtitle = item.freightCount %>
    <% item.imgUrl = item.flagUrl %>
    <% item.link = `/overview/country/${encodeURIComponent(item.countryName)}` %>
    <%- include('country-container', {contentItem:item}) %>
    <% if ((index + 1) % 4 == 0) { %>
        </div>
    <div class='row no-gutters d-flex align-content-start my-3'>
        <% } %>
<% }); %>
</div>

<%- include("../partials/footer") -%>