<a class='link container-link' href= '<%-contentItem.link%>'>
    <div class="card container-1 bg-light container-text">
        <img src= "<%=contentItem.imgUrl%>" class="card-img-top" alt="No image provided">
        <div class="card-body">
            <h5 class="card-title container-text"><%=contentItem.name%></h5>
            <h6 class="card-subtitle text-muted">Number of Containers: <%= contentItem.subtitle%></h6>
        </div>
    </div>
</a>
