<a class='link' href= '<%-contentItem.link%>'>
    <div class="card container-1">
        <img src= "<%=contentItem.imgUrl%>" class="card-img-top" alt="No image provided">
        <div class="card-body">
            <h5 class="card-title container-text"><%=contentItem.name%></h5>
        </div>
    </div>
</a>
