<%- include("../partials/company-header") -%>

<%- include('subheader') -%>

<div class='container-fluid'>
    
    <div class='row d-flex justify-content-around my-3'>
        <!-- Loop over every country in the array and parse info into the individual containers -->
        <% countryArray.forEach( (item,index) => { %>
        <%- include('container-1', {countryItem:item}) %>
        <% if ((index + 1) % 4 == 0) { %>
            </div>
            <div class='row d-flex justify-content-around my-3'>
        <% } %>
        <% }); %>
    </div>

</div>

<%- include("../partials/footer") -%>