<nav class="navbar navbar-dark bg-dark navbar-expand-md subheader">
    <a class="navbar-brand" href="/"><%= title%></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-toggler-right" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item update-btn">
          <button type="button" class="btn btn-dark">Update</button>
          <button type="button" class="btn btn-success" style="display:none;">Confirm Changes</button>
          <button type="button" class="btn btn-danger" style="display:none;">Cancel Changes</button>
      </li>
      <li class="nav-item">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" >
                Sort By
            </button>
            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item" href="#">Name A ➡ Z</a>
                <a class="dropdown-item" href="#">Name Z ➡ A</a>
                <a class="dropdown-item" href="#"></a>
            </div>
        </div>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </li>
      

    </ul>

  </div>
    
</nav>

