<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="shortcut icon" href="/images/icon.png"/>
    <title>Comms</title>

    <%- include("../partials/style-declarations") %>
</head>
<body>
<div class="s-layout">
    <!-- Sidebar -->
    <%- include("../partials/sidebar", {user: user})%>

    <!-- Content -->
    <main class="s-layout__content">
        <div class="container">
            <h1>File Upload</h1><br>

            <form method="post" action="/upload" enctype='multipart/form-data'>
                <div class="form-group">
                    <label for="containerId"><strong>Container ID</strong></label>
                    <input type="text" class="form-control" id="containerId" style="width: 15rem;">
                </div>
                <hr>
                <div class="form-group">
                    <label for="manifestFile"><strong>Manifest File</strong></label><br>
                    <input type="file" name="theFile" id="manifestFile">
                    <small class="form-text text-muted">Make sure you're using our given template file.</small>
                </div>
                <hr>
                <button type="submit" class="btn btn-success" style="width: 100px;background-color: #2039bc; color: #FFFFFF">
                    Upload
                </button>
            </form>
        </div>

<%- include("../partials/footer") -%>