<%- include("../partials/company-header") -%>
    <div class="row">
        <h1>File Upload</h1>
    </div>

    <div class="row">
        <form method="post" action="/upload" enctype='multipart/form-data'>
           
		    <input type="file" name="theFile"><br><br>
            <button type="submit" class="btn btn-block my-3 btn-sm" style="width: 100px;background-color: #2039bc; color: #FFFFFF">
            	Upload
        	</button>
        </form>
    </div>
</div>

<%- include("../partials/footer") -%>