<%- include("../partials/header", {user: user}) -%>

<div class="row no-gutters d-flex align-content-start my-3">
    <div class="container">
        <div class="row">
            <h1>Welcome to Balikbayan Comms</h1>
        </div>

        <div class="row">
            <p><strong>You currently do not have any manifest files yet.</strong></p>
        </div>

        <div class="row">
            <p>How about start with <a href="/upload" style="color:#0366d6"><strong>uploading</strong></a> a file?</p>
        </div>

        <div class="row">
            <p>If you have uploaded a file, Please contact us <a href='mailto:nchong128@gmail.com' style="color:#0366d6">here</a></p>
        </div>
    </div>
</div>


<%- include("../partials/footer") -%>