.Home-Background {
	background-image: url("../../../public/images/home_background.png");
	background-size: cover;
	background-position: center;
	height: 100vh;
	z-index: -99;
}

.Register-Btn {
	width: 140px;
	border-radius: 3px;
	letter-spacing: 1.5px;
}

.Login-Btn {
	width: 140px;
	border-radius: 3px;
	letter-spacing: 1.5px;
}
