<%- include("../partials/header") -%>
    <div class="row">
        <h1 >Track your Package!</h1>
    </div>
    <div class="row">
        <p>For multiple tracking numbers,separate with comma or a new line</p>
    </div>
    <div class="row">
        <form method="post" action="/tracking">
            <textarea
            class="form-control rounded-0"
            type="text"
            name="trackingNumber"
            placeholder="Enter your tracking number(s)"
            rows="4" cols="50"></textarea><br>
        <button type="submit" class="btn btn-block my-3 btn-sm" style="background-color: #2039bc; color: #FFFFFF">
            Track parcel
        </button>
        </form>
    </div>
    
<%- include("../partials/footer") -%>