<%- include("../partials/company-header") -%>
    <div class="container">
        <div class="row">
            <h1 >Track your Package!</h1>
        </div>
        <div class="row">
            <p>For multiple tracking numbers,separate with comma or a new line</p>
        </div>
        <div class="row">
            <form method="post" action="/tracking">
                <textarea
                type="text"
                name="trackingNumber"
                placeholder="Tracking Number(s)"
                rows="4" cols="50"></textarea><br>
            <button type="submit" class="tracking-submit">Submit</button>
            </form>
        </div>
    </div>
    
<%- include("../partials/footer") -%>